<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Employee Details</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
        <meta content="Coderthemes" name="author">
        <!-- App favicon -->
        <link rel="shortcut icon"href="../img/human.png">

        <!-- third party css -->        
        <link href="../css/vendor/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css">
        <link href="../css/vendor/dataTables.bootstrap5.css" rel="stylesheet" type="text/css">
        <link href="../css/vendor/responsive.bootstrap5.css" rel="stylesheet" type="text/css">
        <link href="../css/vendor/buttons.bootstrap5.css" rel="stylesheet" type="text/css">
        <link href="../css/vendor/select.bootstrap5.css" rel="stylesheet" type="text/css">
        <!-- third party css end -->

        <!-- App css -->
        <link href="../css/icons.min.css" rel="stylesheet" type="text/css">
        <link href="../css/app.min.css" rel="stylesheet" type="text/css" id="light-style">
        <link href="../css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style">
    </head>
    <script>
        setTimeout(() => {
            const box = document.getElementById('box');
            box.style.display = 'none'
            
        }, 3000);
      </script>

    <body class="loading" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
        <!-- Begin page -->
        <div class="wrapper">
            <!-- ========== Left Sidebar Start ========== -->
            <div class="leftside-menu">

                <!-- LOGO -->
                <a href="./adminDashboard" class="logo text-center logo-light">
                    <span class="logo-lg">
                        <img src="../img/human.png" alt="" height="40">
                    </span>
                    <span class="logo-sm">
                        <img src="../img/human.png" alt="" height="40">
                    </span>
                </a>

                <!-- LOGO -->
                <a href="./adminDashboard" class="logo text-center logo-dark">
                    <span class="logo-lg">
                        <img src="../img/human.png" alt="" height="40">
                    </span>
                    <span class="logo-sm">
                        <img src="../img/human.png" alt="" height="40">
                    </span>
                </a>

                <div class="h-100" id="leftside-menu-container" data-simplebar="">

                    <!--- Sidemenu -->
                    <ul class="side-nav">

                        <li class="side-nav-title side-nav-item">Navigation</li>

                        <li class="side-nav-item">
                            

                            <div class="collapse" id="sidebarDashboards">
                              <ul class="side-nav-second-level">
                                <li>
                                  <a href="./adminDashboard">Employee Details</a>
                                </li>

                            </div>
                        </li>


                       

                        <li class="side-nav-item">
                            <a href="/logout" class="side-nav-link">
                                <i class="mdi mdi-logout me-1"></i>
                                <span> Logout </span>
                            </a>
                        </li>
                      </ul>
                    <!-- End Sidebar -->

                    <div class="clearfix"></div>

                </div>
                <!-- Sidebar -left -->

            </div>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">
                    <!-- Topbar Start -->
                    <div class="navbar-custom">
                        <ul class="list-unstyled topbar-menu float-end mb-0">

                            <li class="dropdown notification-list">
                                <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <span class="account-user-avatar">
                                        <img src="userImages/<%= admin.photo %>" alt="user-image" class="rounded-circle">
                                    </span>
                                    <span>
                                        <span class="account-user-name"><%= admin.name%></span>
                                        <span class="account-position"><%= admin.role%></span>
                                    </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
                                    <!-- item-->
                                    <div class=" dropdown-header noti-title">
                                        <h6 class="text-overflow m-0">Welcome !</h6>
                                    </div>

                                    <!-- item-->
                                    <a href="./setting" class="dropdown-item notify-item">
                                        <i class="mdi mdi-account-edit me-1"></i>
                                        <span>Settings</span>
                                    </a>

                                    <!-- item-->
                                    <a href="/logout" class="dropdown-item notify-item">
                                        <i class="mdi mdi-logout me-1"></i>
                                        <span>Logout</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                        <button class="button-menu-mobile open-left button-collapse">
                            <i class="mdi mdi-menu"></i>
                        </button>

                    </div>
                    <!-- end Topbar -->

                    <!-- Start Content-->
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <!-- <div class="page-title-right">
                                        <form class="d-flex">
                                            <div class="input-group">
                                                <input type="text" class="form-control form-control-light" id="dash-daterange">
                                                <span class="input-group-text bg-primary border-primary text-white">
                                                    <i class="mdi mdi-calendar-range font-13"></i>
                                                </span>
                                            </div>
                                        </form>
                                    </div> -->
                                    <h4 class="page-title">Employee Details</h4>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="card">
                              <div class="card-body">
                                <div class="row mt-12">
                                  <div class="col-sm-12">
                                      <div class="text-sm-end">
                                          <a href="./addIndividual" class="add-button" role="button">Add Employee</a>
                                    
                                      </div>
                                  </div> <!-- end col -->
                                  <div class="row">
                                    
                                    <div class="col-6">
                                        <form action="/search-by-gender" method="POST">
                                            <label for="gender">Filter by gender:</label>
                                            <select id="gender" name="gender">
                                                <option value="male">Male</option>
                                                <option value="female">Female</option>
                                            </select>
                                            <button type="submit">Filter</button>
                                        </form>
                                    </div>
                                    
                                  </div>
                              </div> <!-- end row -->
                              <!-- Search form -->
                           
                                <hr>
                                <% if (users.length> 0) { %>

                                <table id="scroll-horizontal-datatable" class="table w-100 nowrap">
                                    <% if (typeof message !== 'undefined') { %>
                                      <h4 id="box" style="color:#359735;"><%= message %></h4>
                                    <% } %>
                                    <thead>
                                      <tr>
                                        <th>Name</th>
                                        <th>Employee ID</th>
                                        <th>DOB</th>
                                        <th>Gender</th>
                                        <th>Department</th>
                                        <th>Designation</th>
                                        <th>Appointment Date</th>
                                        <th>Action</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <% if (users.length > 0) {
                                        for (let i = 0; i < users.length; i++) { %>
                                          <tr>
                                            <td><%= users[i].name %></td>
                                            <td><%= users[i].employee_id %></td>
                                            <td><%= users[i].dob %></td>
                                            <td><%= users[i].gender %></td>
                                            <td><%= users[i].department %></td>
                                            <td><%= users[i].designation %></td>
                                            <td><%= users[i].appoinment_date %></td>
                                            <td>
                                              <a href="/editEmployee/<%= users[i]._id %>" class="btn">Edit</a>
                                              <form action="/delete-user" method="POST">
                                                <button value="<%= users[i]._id %>" name="delete_employee" class="btn">Delete</button>
                                              </form>
                                            </td>
                                          </tr>
                                      <% }
                                      } else { %>
                                        <tr>
                                          <td colspan="8">Users Not Found</td>
                                        </tr>
                                      <% } %>
                                    </tbody>
                                  </table>
                                  <% } else { %>
                                    <p>No users found.</p>
                                    <% } %>
                                  
                                  </div>
                                </div>
                              </div>
                            </div>

                    <!-- container -->

                </div>
                 <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <script>document.write(new Date().getFullYear())</script> © HR MANAGEMENT SYSTEM
                            </div>
                            
                        </div>
                    </div>
                </footer>
                 <!-- Footer End -->
                <!-- content -->

              
            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->

      

        <!-- bundle -->
        <script src="../js/vendor.min.js"></script>
        <script src="../js/app.min.js"></script>

        <!-- third party js -->

        <!-- for table -->
        <script src="../js/vendor/jquery.dataTables.min.js"></script>
        <script src="../js/vendor/dataTables.bootstrap5.js"></script>
        <script src="../js/vendor/dataTables.responsive.min.js"></script>
        <script src="../js/vendor/responsive.bootstrap5.min.js"></script>
        <script src="../js/vendor/dataTables.select.min.js"></script>
        <script src="../js/vendor/dataTables.buttons.min.js"></script>

        <!-- third party js ends -->

        <!-- demo app -->
        <script src="../js/pages/demo.dashboard.js"></script>
        <script src="../js/pages/demo.datatable-init.js"></script>
        <!-- end demo js-->
    </body>
</html>

