<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>View Employee Details |  Admin Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
        <meta content="Coderthemes" name="author">
        <!-- App favicon -->
        <link rel="shortcut icon" href="../img/favicon.ico">

            <!-- third party css -->        
            <link href="../css/vendor/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css">
            <link href="../css/vendor/dataTables.bootstrap5.css" rel="stylesheet" type="text/css">
            <link href="../css/vendor/responsive.bootstrap5.css" rel="stylesheet" type="text/css">
            <link href="../css/vendor/buttons.bootstrap5.css" rel="stylesheet" type="text/css">
            <link href="../css/vendor/select.bootstrap5.css" rel="stylesheet" type="text/css">
            <!-- third party css end -->
    
            <!-- App css -->
            <link href="../css/icons.min.css" rel="stylesheet" type="text/css">
            <link href="../css/app.min.css" rel="stylesheet" type="text/css" id="light-style">
            <link href="../css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style">
    </head>

    <body class="loading" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
        <!-- Begin page -->
        <div class="wrapper">
            <!-- ========== Left Sidebar Start ========== -->
            <div class="leftside-menu">

                <!-- LOGO -->
                <a href="./adminDashboard" class="logo text-center logo-light">
                    <span class="logo-lg">
                        <img src="../img/human.png" alt="" height="40">
                    </span>
                    <span class="logo-sm">
                        <img src="../img/human.png" alt="" height="40">
                    </span>
                </a>

                <!-- LOGO -->
                <a href="./adminDashboard" class="logo text-center logo-dark">
                    <span class="logo-lg">
                        <img src="../img/human.png" alt="" height="40">
                    </span>
                    <span class="logo-sm">
                        <img src="../img/human.png" alt="" height="40">
                    </span>
                </a>

                <div class="h-100" id="leftside-menu-container" data-simplebar="">

                    <!--- Sidemenu -->
                    <ul class="side-nav">

                        <li class="side-nav-title side-nav-item">Navigation</li>

                        <li class="side-nav-item">
                           
                            
                            </a>
                            <div class="collapse" id="sidebarDashboards">
                              <ul class="side-nav-second-level">
                                <li>
                                  <a href="./adminDashboard">Employee Details</a>
                                </li>

                               
                              </ul>
                            </div>
                        </li>

                       

                        <li class="side-nav-item">
                            <a href="/logout" class="side-nav-link">
                                <i class="mdi mdi-logout me-1"></i>
                                <span> Logout </span>
                            </a>
                        </li>
                    </ul>

                    <!-- End Sidebar -->

                    <div class="clearfix"></div>

                </div>
                <!-- Sidebar -left -->

            </div>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">
                    <!-- Topbar Start -->
                    <div class="navbar-custom">
                        <ul class="list-unstyled topbar-menu float-end mb-0">                          

                            <li class="dropdown notification-list">
                                <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <span class="account-user-avatar">
                                        <img src="userImages/<%= admin.photo %>" alt="user-image" class="rounded-circle">
                                    </span>
                                    <span>
                                        <span class="account-user-name"><%= admin.name %></span>
                                        <span class="account-position"><%= admin.role%></span>
                                    </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
                                    <!-- item-->
                                    <div class=" dropdown-header noti-title">
                                        <h6 class="text-overflow m-0">Welcome !</h6>
                                    </div>

                                    <!-- item-->
                                    <a href="./setting" class="dropdown-item notify-item">
                                        <i class="mdi mdi-account-edit me-1"></i>
                                        <span>Settings</span>
                                    </a>

                                    <!-- item-->
                                    <a href="/logout" class="dropdown-item notify-item">
                                        <i class="mdi mdi-logout me-1"></i>
                                        <span>Logout</span>
                                    </a>
                                </div>
                            </li>

                        </ul>
                        <button class="button-menu-mobile open-left">
                            <i class="mdi mdi-menu"></i>
                        </button>
                    </div>
                    <!-- end Topbar -->

                    <div class="row">
                      <div class="col-12">
                          <h4 class="mb-4">Employee Details</h4>
                      </div> <!-- end col -->

                        <div class="row">
                          <div class="col-sm-12">
                              <!-- Profile -->
                              <div class="card bg-primary">
                                  <div class="card-body profile-user-box">
                                      <div class="row">
                                          <div class="col-sm-8">
                                              <div class="row align-items-center">
                                                  <div class="col-auto">
                                                      <div class="avatar-lg">
                                                          <img src="userImages/<%= std.photo %>" alt="" class="rounded-circle img-thumbnail">
                                                      </div>
                                                  </div>
                                                  <div class="col">
                                                      <div>
                                                          <h4 class="mt-1 mb-1 text-white">Name: <%= std.name%></h4>
                                                          <p class="font-13 text-white-50"> Email: <%= std.email%></p>
                                                          <p class="font-13 text-white-50"> Course: <%= std.course%></p>
                                                          <p class="font-13 text-white-50"> Year: <%= std.year%></p>
                                                          <p class="font-13 text-white-50"> Enrollment Year: <%= std.joinedYear%></p>
                                                          <button type="button"  data-bs-toggle="modal" data-bs-target="#standard-modal"><i class="mdi mdi-delete"></i>Delete</button>
                                                          <div id="standard-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h4 class="modal-title" id="standard-modalLabel">Confirm Delete</h4>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <p>Are you sure you want to delete this employee?</p>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                                                        <button type="button"><a href="/delete-user?id=<%= std._id %>">Delete</a></button>
                                                                    </div>
                                                                </div><!-- /.modal-content -->
                                                            </div><!-- /.modal-dialog -->
                                                        </div><!-- /.modal -->

                                                      </div>
                                                  </div>
                                              </div>
                                          </div> <!-- end col-->

                                          <div class="col-sm-4">
                                                <div class="text-center mt-sm-0 mt-3 text-sm-end">
                                                    <button type="button" class="btn btn-light" onclick="win"> <a href="/editEmployee?id=<%= std._id%>"><i class="mdi mdi-account-edit me-1"></i> Edit Profile</a>

                                                    </button>
                                                </div>

                                            </div> <!-- end col-->
                                        </div> <!-- end row -->

                                      </div> <!-- end row -->
                                    </div> <!-- end card-body/ profile-user-box-->
                                </div><!--end profile/ card -->
                            </div> <!-- end col-->
                        </div>
                      <!-- end row -->
                      </div>
                        <!-- end row -->

                      
                       

                    </div> <!-- container -->

                </div> <!-- content -->

                <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <script>document.write(new Date().getFullYear())</script> © GCIT
                            </div>
                            
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->        

        <!-- bundle -->
        <script src="../js/vendor.min.js"></script>
        <script src="../js/app.min.js"></script>
        <script src="../js/student.js"></script>

         <!-- for table -->
         <script src="../js/vendor/jquery.dataTables.min.js"></script>
         <script src="../js/vendor/dataTables.bootstrap5.js"></script>
         <script src="../js/vendor/dataTables.responsive.min.js"></script>
         <script src="../js/vendor/responsive.bootstrap5.min.js"></script>
         <script src="../js/vendor/dataTables.select.min.js"></script>
         <script src="../js/vendor/dataTables.buttons.min.js"></script>
 
         <!-- third party js ends -->
 
         <!-- demo app -->
         <script src="../js/pages/demo.dashboard.js"></script>
         <script src="../js/pages/demo.datatable-init.js"></script>
         <!-- end demo js-->

    </body>
</html>

